/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("fondoLM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-count: 3;
    /* Dividir en tres columnas */
    column-gap: 20px;
    /* Espacio entre columnas */
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(124, 77%, 7%);
}


main {
    flex: 1;
    margin: 20px;
    color: #f2f2f2;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin: 0 0 10px 0;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}